  # Exploring Hotel Data with DuckDB







  This notebook demonstrates how to use the database initialization function to load CSV data into DuckDB and explore it with SQL queries.

In [7]:
from notebooks.utils.db import init_db
%load_ext autoreload
%autoreload 2

# Initialize the database with CSV data
con = init_db()
print("Database initialized successfully!")
tables = con.execute("SHOW TABLES").fetchall()
print("Available tables:")
for table in tables:
    print(f"- {table[0]}")

Loaded ds_booked_rooms.csv into table 'booked_rooms' with type casting
Loaded ds_bookings.csv into table 'bookings' with type casting
Loaded ds_hotel_location.csv into table 'hotel_location' with type casting
Loaded ds_rooms.csv into table 'rooms' with type casting
Database initialized successfully!
Available tables:
- booked_rooms
- bookings
- hotel_location
- rooms

In [8]:
booked_rooms = con.execute("select * from booked_rooms").fetchdf()
bookings = con.execute("select * from bookings").fetchdf()
hotel_location = con.execute("select * from hotel_location").fetchdf()
rooms = con.execute("select * from rooms").fetchdf()

print("Booked Rooms:")
booked_rooms.head(15)

Booked Rooms:

,id,booking_id,total_adult,total_children,room_id,room_size,room_view,room_type,total_price
0,8766772,7387509,2,0,58974,70.0,city_view,cottage,302.05
1,8645284,7283854,2,0,42345,12.0,city_view,room,63.00
2,8668410,7303558,2,0,28729,55.0,city_view,apartment,576.00
3,8049621,6778357,2,0,64038,26.0,city_view,room,93.50
4,8786466,7404311,2,0,31784,0.0,city_view,room,62.00
5,7290618,6139203,2,0,64222,14.0,mountain_view,room,66.00
6,9114618,7685081,1,0,68773,20.0,,room,26.00
7,8666547,7302095,2,0,46224,12.0,,room,70.20
8,8765183,7386146,1,0,86566,0.0,mountain_view,room,0.00
9,8765236,7386193,1,0,86569,0.0,mountain_view,room,0.00
10,8765269,7386225,1,0,86570,0.0,mountain_view,room,0.00
11,8786549,7404380,1,0,22332,0.0,city_view,room,118.00
12,8668484,7303683,2,0,34494,20.0,,room,147.74
13,9043069,7623097,2,2,68483,32.0,mountain_view,apartment,770.00
14,8650415,7288254,2,0,37475,35.0,mountain_view,room,135.00

In [9]:
print("Rooms:")
rooms.head(15)

Rooms:

,id,number_of_rooms,max_occupancy,max_adults,pricing_per_person_activated,events_allowed,pets_allowed,smoking_allowed,children_allowed
0,537,8,2,2,True,False,False,False,False
1,698,1,4,4,True,False,False,False,False
2,26375,2,2,2,True,False,False,False,False
3,697,1,3,3,True,False,False,False,False
4,198,1,4,4,True,False,False,False,False
5,21,1,3,1,False,False,False,False,False
6,28499,1,2,2,False,False,False,False,False
7,26718,1,3,3,True,False,False,False,False
8,5161,1,5,5,False,False,False,False,False
9,29,1,2,2,False,False,False,False,False
10,30,1,2,2,False,False,False,False,False
11,31,1,2,2,False,False,False,False,False
12,32,5,4,4,False,False,False,False,False
13,74,6,5,5,False,False,False,False,False
14,532,3,3,3,False,False,False,False,False

In [10]:
print("Bookings:")
bookings.head(15)

Bookings:

,id,status,total_price,created_at,cancelled_date,source,arrival_date,departure_date,payment_method,cancelled_by,hotel_id
0,7388365,confirmed,94.29,2024-05-13 19:45:46.952868,NaT,booking.com,2024-07-17,2024-07-18,credit_card,None,13770
1,7388292,confirmed,88.00,2024-05-13 19:40:56.109475,NaT,manual,2024-05-13,2024-05-17,credit_card,None,14065
2,7543637,confirmed,491.29,2024-05-24 16:39:17.304894,NaT,booking.com,2024-05-24,2024-05-26,credit_card,None,11770
3,7306333,confirmed,72.00,2024-05-07 15:19:07.194099,NaT,booking.com,2024-08-24,2024-08-25,credit_card,None,8886
4,7306302,confirmed,412.84,2024-05-07 15:16:45.566445,NaT,booking.com,2024-09-20,2024-09-22,credit_card,None,23846
5,7306341,confirmed,39.60,2024-05-07 15:19:26.124593,NaT,booking.com,2024-06-04,2024-06-05,credit_card,None,7043
6,7306327,confirmed,60.00,2024-05-07 15:18:47.402863,NaT,booking.com,2024-05-31,2024-06-01,credit_card,None,25046
7,7306318,confirmed,92.00,2024-05-07 15:17:48.475961,NaT,booking.com,2024-06-05,2024-06-06,credit_card,None,9445
8,7388298,confirmed,72.20,2024-05-13 19:41:27.556072,NaT,booking.com,2024-05-17,2024-05-18,credit_card,None,13265
9,7388479,confirmed,481.17,2024-05-13 19:52:49.098697,NaT,booking.com,2024-08-03,2024-08-05,credit_card,None,20931
10,7401393,confirmed,153.00,2024-05-14 16:47:25.906993,NaT,airbnb,2024-05-29,2024-05-30,credit_card,None,20772
11,7404748,confirmed,55.00,2024-05-14 19:52:17.065221,NaT,amenitiz,2024-09-07,2024-09-08,credit_card,None,11947
12,7306325,confirmed,548.08,2024-05-07 15:18:26.081052,NaT,booking.com,2024-09-20,2024-09-22,credit_card,None,16768
13,7662027,cancelled,449.07,2024-06-02 14:57:13.759115,2024-06-03,booking.com,2024-07-25,2024-07-28,credit_card,guest,14337
14,7543668,confirmed,214.55,2024-05-24 16:41:49.114365,NaT,booking.com,2024-05-25,2024-05-26,credit_card,None,8224

In [11]:
print("Hotel location:")
hotel_location.head(15)

Hotel location:

,id,hotel_id,address,city,zip,country,latitude,longitude
0,1053,1062,Quai Branly 2,Paris,,FR,48.861709,2.297595
1,1050,1059,"Via Capirro I, 2",Trani,76125,IT,41.251623,16.419353
2,1035,1040,La manelière,Sevremont,85700,FR,46.819561,-0.880914
3,1051,1060,None,None,None,GB,39.749148,-105.053668
4,1034,1039,None,None,None,FR,36.111296,-95.903142
5,1331,1344,9 Via E. Pais,Gesturi,09020,IT,39.733053,9.017442
6,1054,1063,Via Bertinoro 5,Rimini,47924,IT,44.046784,12.602534
7,1044,1053,Route de Cojonnex 19,Lausanne,1000,CH,46.561638,6.681906
8,656,661,6 Rue de l'Abreuvoir,Cébazan,34360,FR,43.407608,2.974289
9,1039,1044,16 Passage Subé,Reims,51100,FR,49.255190,4.027999
10,1321,1334,Via Cairoli 32/34,Roma,00185,IT,41.892959,12.506282
11,191,196,2 rue des écoles,Anthy sur Léman,74200,FR,46.355434,6.427050
12,192,197,49 Rue de France,Nice,06000,FR,43.695738,7.260530
13,3764,3897,None,None,None,NZ,29.987666,-95.333562
14,24,29,None,None,None,DE,51.165691,10.451526

  # Problem framing



  Within this dataset we have multiple tables:



  ## `bookings` ( Transaction log)



  Transaction log. One row is one reservation, which might have multiple days or multiple rooms.



  Key Data:



  - Dates: created_at (when they booked), arrival_date, departure_date. These are critical for calculating Lead Time and Length of Stay.



  - Financials: total_price (total cost of the stay), status (confirmed/cancelled).



  - Context: source (Booking.com, Airbnb, etc.)—useful for understanding channel costs or customer types.



  - Join Key: id (joins to booked_rooms.booking_id), hotel_id.



  ## `booked_rooms` (Order details)



  The order details. This links a booking to a specific inventory. If someone books 1 suite and one standard room in a booking, then this table will have two rows for this single booking ID.



  Key Data:



  - Price Breakdown: total_price (price for this specific room, separate from the booking total).



  - Room Specifics: room_view, room_size, room_type.



  - Guest Details: total_adult, total_children.



  - Join Key: booking_id (links back to bookings), room_id (links to rooms).



  ## `rooms` (Inventory definitions)



  This table defines the types of products the hotels are selling. It describes the static attributes of a room category.



  Key Data:



  - Capacity: number_of_rooms (Crucial! This is the total stock/inventory count for this room type), max_occupancy.



  - Amenities: events_allowed, pets_allowed, etc.



  - Pricing Rules: pricing_per_person_activated.



  - Join Key: id (links to booked_rooms.room_id).



  ## `hotel_location` (Property metadata)

  Key Data:



 - Location: city, country, latitude, longitude.



 - Usage: Essential for clustering hotels. A hotel in "Paris" has a different demand curve than a hotel in "Rimini."



 - Join Key: hotel_id (links to bookings.hotel_id).

 # Initial EDA

## Sanity checks



 First let's go ahead and set up a table that gives us normalized data. Raw `total_price` doesn't tell us much because we need a normalized daily rate rather than an aggregate rate, to avoid comparing apples to oranges.

In [6]:
import pandas as pd
query = """
SELECT 
    b.id AS booking_id,
    b.arrival_date,
    b.created_at,
    b.status,
    br.room_id,
    
    -- 1. Date Math: Use TRY_CAST to handle invalid dates
    (TRY_CAST(b.departure_date AS DATE) - TRY_CAST(b.arrival_date AS DATE)) AS los,
    (TRY_CAST(b.arrival_date AS DATE) - TRY_CAST(b.created_at AS DATE)) AS lead_time,
    
    -- 2. Price Math: Use TRY_CAST to handle 'NULL' strings
    (TRY_CAST(br.total_price AS DOUBLE) / NULLIF((TRY_CAST(b.departure_date AS DATE) - TRY_CAST(b.arrival_date AS DATE)), 0)) AS daily_price,
    
    hl.city,
    hl.country
FROM bookings b
JOIN booked_rooms br ON b.id = br.booking_id
JOIN hotel_location hl ON b.hotel_id = hl.hotel_id
WHERE b.status = 'confirmed' 
  -- 3. Filter using the casted dates
  AND (TRY_CAST(b.departure_date AS DATE) - TRY_CAST(b.arrival_date AS DATE)) > 0
  -- 4. Filter using TRY_CAST to handle 'NULL' strings
  AND TRY_CAST(br.total_price AS DOUBLE) > 0
"""

df = con.execute(query).fetchdf()

# Post-processing
df['arrival_date'] = pd.to_datetime(df['arrival_date'])
df['created_at'] = pd.to_datetime(df['created_at'])

# Verify it works
print(df.head())
print(df.dtypes) # This will confirm if lead_time/daily_price are now numbers

   booking_id arrival_date                 created_at     status room_id  los  \
0     6976079   2024-08-02 2024-04-14 09:37:24.005977  confirmed   71205    2
1     6910938   2024-04-10 2024-04-09 16:34:44.597492  confirmed   43576    2
2     3780986   2023-06-06 2023-06-06 14:33:58.165747  confirmed    1771    1
3     2775122   2023-02-18 2023-02-15 12:20:19.545191  confirmed   30713    2
4     7524632   2024-09-03 2024-05-23 11:18:08.071990  confirmed   27976    7

   lead_time  daily_price                               city country
0        110         42.0  Calzada de Calatrava, Ciudad Real      ES
1          1         70.0                         Tornavacas      ES
2          0         20.0                                         ES
3          3         73.0          Canfranc-Estación, Huesca      ES
4        103        142.3                      Cap d'Artrutx      ES
booking_id               int64
arrival_date    datetime64[us]
created_at      datetime64[us]
status                  object
room_id                 object
los                      int64
lead_time                int64
daily_price            float64
city                    object
country                 object
dtype: object